header {
    color: blue;
    
    clear: both;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width:100%;
    Height:.75in;
    
}
section{
    width:7in;
    display: block;
    margin-left: auto;
    margin-right: auto;
       
}
p{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    line-height: 25px;
    padding-left: 30px;
    padding-top:5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.rupee{
    height:100px;
    width:100px;
    float:left;
    padding-left: 20px;

}

span{height:400 px;
    width:800px;

}

#randomwinloss{
    height: 200px;
    width: 200px;
    position: relative;
    bottom:-20;
    
}

#winloss{position: absolute;
    background-color: black;
    height:100px;
    width:100px;
    
}

#random{height:200px;
    width:200px;
    display:flex;
    background-color: aqua;
    margin-top: 20px;
}

#banner{
    width:300px;
    height:25px;
    display:flex;
    background-color:white;
    margin-top: 20px;
    margin-left: 270px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#yourscore{
    width:250px;
    height: 200px;  
    display:flex;
    background-color: aliceblue;
    margin-top: 20px;
    margin-left:300px;
}